{% extends 'produtos/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <div class="banner">
            <h1 class="my-4 loja-titulo" align="center">
              <img src="{% static 'img/madamechique-logo.png' %}" style="max-width: 250px">
            </h1>
            <br>
          </div>
          <ul class="nav">
            <li>
              <h3><strong>Filtrar por categoria:</strong></h3>
            </li>
            {% for categoria in categorias %}
            <li>
              <a class="list-group-item"><strong>
                <i class="fa fa-sort-desc"></i>
                {{ categoria.nome }}
              </strong></a>
              <ul>
                  {% for tipo in tipos %}
                  {% for tipocat in tipo.categoria.all %}
                  {% if tipocat.codigo == categoria.codigo %}
                  <li>
                    <a href="#" class="list-group-item">{{ tipo.nome }}</a>
                  </li>
                  {% endif  %}
                  {% endfor %}
                  {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <!-- Carousel Card -->
            <div class="banner card card-raised card-carousel">
              <div id="carousel-banners" class="carousel slide" data-ride="carousel">
                <div class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-banners" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-banners" data-slide-to="1"></li>
                    <li data-target="#carousel-banners" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{% static '/img/banhomedelrio1140.jpg'%}" alt="Awesome Image">
                    </div>
                    <div class="item">
                      <img src="{% static '/img/banhomeliebe1140.jpg'%}" alt="Awesome Image">
                    </div>
                    <div class="item">
                      <img src="{% static '/img/banhomeliz1140.jpg'%}" alt="Awesome Image">
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-banners" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </a>
                  <a class="right carousel-control" href="#carousel-banners" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Carousel Card -->

          <div class="row">
            <nav class="navbar navbar-info" style="text-align: center;">
              <strong >Produtos Disponíveis </strong>
            </nav>
            {% for produto in produtos %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card-2 h-100">
                <a href="produto?3">
                {% if produto.fotos %} 
                <div id="carousel-produto-{{produto.codigo}}" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    {% for foto in produto.fotos %}
                    <div class="item {% if foto.codigo == produto.fotos.0.codigo %} active {% endif %}">
                      <img  class="card-img-top" 
                            src="{{ foto.foto.url  }}" 
                            alt="{{ produto.nome }}">
                    </div>
                    {% endfor %}
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" 
                  href="#carousel-produto-{{produto.codigo}}" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </a>
                  <a class="right carousel-control" 
                  href="#carousel-produto-{{produto.codigo}}" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </a>
                </div>
                  
                {% else %}
                  <img class="card-img-top" 
                  src="{% static 'img/avatar.jpg'%}" 
                  alt="{{ produto.nome }}">
                {% endif %}
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{ produto.tipo }} {{ produto.nome }}</a>
                  </h4>
                  <h5>R$ {{ produto.preco }}</h5>

                  <p class="card-body">{{ produto.descricao|slice:"0:150" }}</p>
                </div>
                <div class="card-footer">
                  <hr>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $('#carousel-banners').carousel({
        pause: false,
        interval: 7000,
        pauseTime: 7000
    });
    $('#carousel-produto-foto').carousel({
        pause: true,
        interval: false,
    });

    $(document).ready(function(){
      $('li').click(function(){
        $(this).children('ul').toggle();
      });
    });
  </script>
{% endblock %}

